<html>
<head>
<link rel="stylesheet" href='static/style.css' />
</head>
<body>
<h1> Kontrollpanel för Nexa-lampor </h1>


<a href='/1/1/99'>Kökslampa - PÅ</a>
<br>
<a href='/1/0/99'>Kökslampa - AV</a>

<br>
<br>

<a href='/2/1/99'>Skrivbordslampa - PÅ</a>
<br>
<a href='/2/0/99'>Skrivbordslampa - AV</a>

<br>
<br>

<a href='/4/1/99'>Lampan på gråa hyllan - PÅ</a>
<br>
<a href='/4/0/99'>Lampan på gråa hyllan - AV</a>

<br>
<br>

<a href='/3/1/99'>Fönsterlampan - PÅ</a>
<br>
<a href='/3/0/99'>Fönsterlampan - AV</a>


</body>
</html>
